:root {
  --Fire: #FF5B33;
  --psychic: #640DA4;
  --dark: #684C7C;
  --fighting: #FFCE33;
  --ice: #82A2C8;
  --ground: #533238;
  --electric: #FFF700;
  --water: #0072FA;
  --fairy: #FF00FF;
  --rock: #545324;
  --bug: #55CB77;
  --poison: #AA00FF;
  --normal: #000000;
  --ghost: #462B46;
  --dragon: #4900FF;
  --flying: #B8D4F5;
  --steel: #7D7F80;
  --grass: #1A9209;
  --red: #FF0000;
  --black: #000000;
  --background: #ffffff;
  --font-weight-reg: 400;
  --font-size-reg: 16px;
  --font-weight-h1: 700;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
}

/*typing */
.fire {
  color: var(--fire);
}
.psychic {
  color: var(--psychic);
}
.dark {
  color: var(--dark);
}
.fighting {
  color: var(--fighting);
}
.ice {
  color: var(--ice);
}
.ground {
  color: var(--ground);
}
.electric {
  color: var(--electric);
}
.water {
  color: var(--water);
}
.fairy {
  color: var(--fairy);
}
.rock {
  color: var(--rock);
}
.bug {
  color: var(--bug);
}
.poison {
  color: var(--poison);
}
.normal {
  color: var(--normal);
}
.ghost {
  color: var(--ghost);
}
.dragon {
  color: var(--dragon);
}
.flying {
  color: var(--flying);
}
.steel {
  color: var(--steel);
}
.grass {
  color: var(--grass);
}

/*Usual styling */
body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-reg);
  line-height: 1.6;
  cursor: default;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}
h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h1);
}
h3 {
  font-size: 18px;
  font-weight: var(--font-size-h3);
}

.search {
  float: right;
  max-width: 60px;
}

.pokedex {
  list-style-type: none;
  text-transform: capitalize;
}
/* Tried capitalizing first letter of each string, did not work - revisit later.
.pokedexList::first-letter {
text-transform: capitalize;
} */
button {
  background-color: var(--red);
  color: white;
  display: block;
  border-radius: 0;
  border-style: none;
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  font-size: var(--font-size-h1);
  text-align: left;
  transition-duration: 0.4s;
  opacity: 0.6;
}
button:hover {
  opacity: 1;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

/* MODAL CHANGES */

.custom-modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.custom-modal.hidden {
  display: none;
  visibility: hidden;
}

.custom-modal .custom-modal-paper {
  background: #fff;
  border-radius: 4px;
  width: 80%;
  max-width: 540px;
  position: relative;
}

.custom-modal .custom-modal-close {
  border-radius: 4px;
  background: transparent;
  text-transform: uppercase;
  outline: 0;
  width: auto;
  height: auto;
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  opacity: 1;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.custom-modal .custom-modal-close:hover {
  background: rgba(0, 0, 0, 0.06);
}

.custom-modal .custom-modal-content {
  padding: 20px 30px;
  position: relative;
}

.custom-modal .custom-modal-content h1 {
  margin-top: 0;
}

.custom-modal .custom-modal-content .image {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.custom-modal .custom-modal-content .image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
