:root {
  --Fire: #FF5B33;
  --psychic: #640DA4;
  --dark: #684C7C;
  --fighting: #FFCE33;
  --ice: #82A2C8;
  --ground: #533238;
  --electric: #FFF700;
  --water: #0072FA;
  --fairy: #FF00FF;
  --rock: #545324;
  --bug: #55CB77;
  --poison: #AA00FF;
  --normal: #000000;
  --ghost: #462B46;
  --dragon: #4900FF;
  --flying: #B8D4F5;
  --steel: #7D7F80;
  --grass: #1A9209;
  --red: #FF0000;
  --background: #ffffff;
  --font-weight-reg: 400;
  --font-size-reg: 16px;
  --font-weight-h1: 700;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
}

/*typing */
.fire {
  color: var(--fire);
}
.psychic {
  color: var(--psychic);
}
.dark {
  color: var(--dark);
}
.fighting {
  color: var(--fighting);
}
.ice {
  color: var(--ice);
}
.ground {
  color: var(--ground);
}
.electric {
  color: var(--electric);
}
.water {
  color: var(--water);
}
.fairy {
  color: var(--fairy);
}
.rock {
  color: var(--rock);
}
.bug {
  color: var(--bug);
}
.poison {
  color: var(--poison);
}
.normal {
  color: var(--normal);
}
.ghost {
  color: var(--ghost);
}
.dragon {
  color: var(--dragon);
}
.flying {
  color: var(--flying);
}
.steel {
  color: var(--steel);
}
.grass {
  color: var(--grass);
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(font-weight-reg);
  font-size: var(font-size-reg);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}
h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h1);
}
h3 {
  font-size: 18px;
  font-weight: var(--font-size-h3);
}

.search {
  float: right;
  max-width: 60px;
}

.pokedex {
  list-style-type: none;
}

button {
  background-color: var(--red);
  color: white;
  display: block;
  border-radius: 0;
  border-style: none;
  width: 100%;
  height: 50px;
  margin: 5px;
  font-size: var(--font-size-h1);
  text-align: left;
  transition-duration: 0.4s;
  opacity: 0.6;
}
button:hover {
  opacity: 1;
}
